@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    font-family: 'Play', sans-serif;
    font-weight: 400;
    color: black;
}
.container-fluid{
    padding:0;
}
.row{
    margin:0;
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color:#DD2424;
}
.asideLogo{
    transform: rotate(-90deg);
    position: fixed;
    width: 100px;
    
}
.header{
    padding: 1.3em 0;
}
.col-logo{
    display: grid;
    align-items: center;
    padding-bottom: 5.7em;
    /* z-index: 10; */
}
.gradient{
    width: 580px;
    position: absolute;
    z-index: -1;
    right: 0em;
}
.centerSection{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 6em;
}
.centerSection img {
    align-self: center;
    justify-self: end;
    margin-top: 0.5em;
    margin-right: 0.5em;
}
.centerSection h2{
    align-self: center;
    margin-left: 1em;
    font-size: 28px;
}
.centerSection h1{
    margin-top: 12px;
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
    margin-right: 4em;
    grid-column: 1/3;
}
.centerSection div{
    grid-column: 2/3;
    justify-self: end;
    align-self: center;
    margin-top: 1em;
}

.buttonWorkWithUs a{
    border: solid 1px;
    color: black;
    padding: 1em 1.1em; 
    font-size: 15px;
}
.buttonWorkWithUs a img{
    margin-left: 15px;
    margin-top: 0;
    width: 30px;
}
.buttonWorkWithUs a:hover{
    background-color: #DD2424;
    color: white;
    text-decoration: none;
}
.buttonWorkWithUs:hover img{
    filter: invert(95%) sepia(7%) saturate(7458%) hue-rotate(185deg) brightness(220%) contrast(111%);
}

.whySkTxt{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10em;
    padding-right: 4em;
}
.whySkTxt section{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 1fr;
    padding-right: 5em;
}
.redLine{
    justify-self: end;
    width: 40px;
    height: 3px;
    grid-column: 1/2;
    margin-top: 0.7em;
    margin-right: 1em;
    background-color: #DD2424;
} 
.whySkTxt section p{
    grid-column: 2/3;
}
hr{
    background-color: black;
    width: 100%;
    height: 1px;
    grid-column: 2/3;
}

.reasonsSection{
    margin-top: 10em;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 7fr 2fr 4fr 2fr 7fr;
}
.reasonCard{
    box-shadow: -10px 13px 6px 4px rgba(0, 0, 0, 0.25); 
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    width: 400px;
    height: 450px;

}
.reasonCard h5{
    align-self: center;
    font-size: 18px;
    font-weight: 900;
    grid-column: 1/4;
    padding-right: 2em;
    justify-self: center;
}
.reasonCard p{
    font-size: 20px;
    grid-column: 2/5;
    margin-top: 0.7em;
    padding-right: 3em;
}
.reasonCard img{
    align-self: center;
    justify-self: end;
    width: 60px;
}
.lineCard{
    background-color: #DD2424;
    width: 20px;
    height: 5px;
    justify-self: end;
    margin-right: 15px;
    margin-top: 1.4em;
}
.resolution{
    grid-row: 1/3;
    grid-column: 1/2;
    justify-self: end;
}
.developers{
    grid-row: 2/5;
    grid-column: 3/4;
    justify-self: start;
}
.pricing{
    grid-row: 4/6;
    justify-self: end;
}
.half-circle1 {
    width: 8rem;
    height: 4rem;
    background-color: black;
    border-radius: 10rem 10rem 0 0;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: end;
    justify-self: start;
    margin-left: 3em;
}

.half-circle2 {
    width: 8rem;
    height: 4rem;
    background-color: black;
    border-radius: 10rem 10rem 0 0;
    grid-column: 2/3;
    grid-row: 5/6;
    align-self: end;
    justify-self: start;
    transform: rotate(90deg);
    margin-bottom: 7em;
}
footer{
    background-color: black;
    margin-top: 13em;
}
.half-circle-footer{
    width: 10rem;
    height: 5rem;
    flex:none;
    background-color: white;
    border-radius: 10rem 10rem 0 0;
    transform: rotate(-180deg);
    margin-bottom: 3em;
}
.footerLogo{
    display: grid;
    place-items: center;
}
.footerImgLogo{
    width: 320px;
    margin-left: 3em;
    
}
.footerMenu{
    display: grid;
    justify-content: center;
}
.footerMenu ul{
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 13em;
}
.footerNav {
    color: white;
    display: flex;
    font-size: 24px;
    margin-top: 1em;

}
.footerButtons{
    display: flex;
    flex-direction: column;
    padding: 0 10em;
}
.footerButtons button{
    background-color: black;
    color: white;
    border: 0;
    border-bottom: solid white;
    font-size: 20px;
    padding-bottom: 0.7em;
    margin-top: 2em;
    margin-bottom: 2.5em;
}
.footerButtons button:hover{
    color: #DD2424;
    border-bottom: solid #DD2424;
    cursor: pointer;
}
.copyright{
    margin-left: 9em;
}
.copyright h6{
    color: white;
    font-size: 20px;
    margin-bottom: 1em;
    margin-top: 3em;
}
.header2{
    display: none;
    --img1: scale(1);
    --img2: scale(0);
}
.header2:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);
    --clip:inset(0 0 0 0);

}
.dropdown{
    position: absolute;
    background-color: #000;
    width: 75%;
    max-width: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;
    z-index: 10;
    display: grid;
    align-content:center ;
    gap: 1rem;

    overflow-y: auto;


    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path .5s; 
}
.nav__menu{
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);
}
.nav__menu--second{
    transform: var(--img2);
    z-index: 11;
}
.dropdown span {
    color: white;
}
.dropdown__link{
    color: rgb(184, 187, 191);
    padding: 1em .7em;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

@media(max-width:740px){

    .header{
        display: none;
    }
    .header2{
        display: block;
    }
    .nav__icon{
        width: 25px;
        position: absolute;
        right: 30px;
        top:30px;

    }
    .nav__icon2{
        width: 35px;
        position: absolute;
        right: 30px;
        top:30px;
        z-index: 12;
    }
    .nav__menu{
        display: grid;
    }
    .dropdown__list{
        list-style:none ;
    }
    .footerImgLogo{
        margin-left: 0;
    }
    .footerMenu ul{
        margin-left: 0;
    }
    .nav-item{
        display: grid;
    }
    .footerNav{
        text-align: center;
        justify-self: center;
    }
    .footerMenu{
        margin-top: 50px;
    }
    .footerButtons{
        margin-top: 30px;
    }
    .footerButtons button{
        color: black;
        border-radius: 15px;
        background-color: white;
        padding: 0.3em 0;
        margin-bottom: 1.8em;
    }
    .copyright{
        margin-left: 12em;
    }



    .asideLogo{
        width: 200px;
        top:2.8em;
        right: 30%;
        position: absolute;
        transform: rotate(0deg);
    }



    .col-xl-11{
        padding: 0;
    }
    .centerSection{
        margin-top: 2em;
    }
    .centerSection h1{
        font-size: 40px;
        margin-right: 0 !important;
        padding: 0 1.5em ;
        margin-top: 1em;
    }
    .centerSection .buttonWorkWithUs{
        margin-top: 4em;
    }
    .whySkTxt{
        margin-top: 5em;
    }
    .whySkTxt section{
        grid-column: 1/3;
        margin-left: 3.8em;
        padding-right: 0.5em;
        margin-top: 2em;
    }
    .whySk-reasons{
        margin-top: 8em;
    }
    .whySkTxt section p{
        font-size: 16px;
    }
    br{
        display: none;
    }

    .reasonsSection{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 17em;
    }
    .resolution{
        grid-row: auto;
        grid-column:auto;
        justify-self: end;
    }
    .resolution img{
        margin-right: 15px;
    }
    .developers{
        grid-row: auto;
        grid-column: auto;
        justify-self: start;
    }
    .pricing{
        grid-row: auto;
        justify-self: end;
    }
    .pricing img{
        margin-right: 15px;
    }
    .half-circle1{
        display: none;
    }
    .half-circle2{
        display: none;
    }
    .reasonCard {
        margin-bottom: 8em;
        width: 350px;
        height: 400px;
    }
    .reasonCard p{
        font-size: 18px;
    }
}
@media(max-width:920px){
    .reasonsSection{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 17em;
    }
    .resolution{
        grid-row: auto;
        grid-column:auto;
        justify-self: end;
    }
    .resolution img{
        margin-right: 15px;
    }
    .developers{
        grid-row: auto;
        grid-column: auto;
        justify-self: start;
    }
    .pricing{
        grid-row: auto;
        justify-self: end;
    }
    .pricing img{
        margin-right: 15px;
    }
    .half-circle1{
        display: none;
    }
    .half-circle2{
        display: none;
    }
    .reasonCard {
        margin-bottom: 8em;
        width: 350px;
        height: 400px;
    }
    .reasonCard p{
        font-size: 18px;
    }
    .centerSection h1{
        margin-right: 2em ;
        margin-left: 1em !important;
    }
}
@media(max-width:550px){


    .footerButtons{
        padding: 2em;
    }
    .centerSection h1{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}
@media(max-width:1100px){
    .centerSection h1{
        margin-right: 2em;
        margin-left: 2em;
    }
}
@media(max-width:1200px){
    .centerSection h1{
        margin-right: 2em;
        margin-left: 2em;
    }
    .footerImgLogo{
        margin-left: 0;
    }
    .footerMenu ul{
        margin-left: 0;
    }
    .nav-item{
        display: grid;
    }
    .footerNav{
        text-align: center;
        justify-self: center;
    }
    .footerMenu{
        margin-top: 50px;
    }
    .footerButtons{
        margin-top: 30px;
    }
    .footerButtons button{
        color: black;
        border-radius: 15px;
        background-color: white;
        padding: 0.3em 0;
        margin-bottom: 1.8em;
    }
    .copyright{
        margin-left: 12em;
    }
}